* {
    margin:0 ;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    max-width: 100%;
    height: 100px;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}
.header-content {
    color: #ffffff;
    text-align: center;

}

li {
    display: inline-block;
    font-size: 30px;


}
#About-Me  {
    display: flex;
    flex-direction: row;
   

}
#About-Me h2 {
    border-right: 3px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold ;
    font-size: 30px;
    margin-left: 0px;
}


section  {
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold ;
}

#box {
    width: 800px;
    height: 400px;
    display: flex;
    background-color: gray;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-left: 180px;
}
.container {
    border: black solid 2px;
    min-height: 100px;
    width: 800px;
    background-color: pink;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: left;
    flex: 100%;
    margin: 0px;
    
}
#container .image-container {
    text-align: center;
    vertical-align: middle;
  
}

#container .image-container img {
    max-width: 300px;
    min-height: 250px;
    padding-top: 5px;  
    margin-left: 20px;      
}


.title {
    color: snow;
    background-color:pink ;
    margin: 2 2 15%;
    flex: 2 2 30%;
    text-align: center; 
    

}
 @media screen and (min-width:500px) {
     .container {
         flex: 2 2 15%;
     }
     .title{
     flex: 2  2  30%;
 }
}
hr  {
    height: 2px;
    background-color: #0072bb;

}

nav  h2, h4, h5  {
    float: center;
    font-size: 30px;
    color: black;
}



a {
    color:black;
    text-decoration: underline;
    margin-left: 180px;
    justify-content: start;
}

p {
    font-size: 22px;
}

.img {
    height: 200px;
    width: 100%;
    background-image: url("https://cdn131.picsart.com/327759259010201.png");

    background-size: cover;
    background-position: center;

}





